html{
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100% /* Ensure body takes at least the full height of the viewport */
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    color: white;
}
p {
    line-height: 1.6;
    color: white;
}

ul, ol, li {
    margin: 10px 0;
    padding: 0 20px;
    color: white;
}
em{
    color: cyan;
    text-shadow: 0 0 5px #007BFF;
}

#navigation_bar {
    background-color: #5a5554;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
}

#navigation_bar button {
    background-color: #5a5554;
    color: white;
    border: none;
    padding: 14px 50px;
    cursor: pointer;
    font-size: 17px;
}
#navigation_bar button:hover {
    background-color: #333;
    transform: translateY(-2px);
}
#navigation_bar img {
    height: 5vh;
    width: auto;
    position: absolute;
    left: 0;
}

#join {
    width: 100vw;
    height: 95vh;
    margin: 0 auto;
    position: absolute;
    top: 5vh;
    left: 0;
    background-color: #333;
    align-items: center;
    justify-content: center;
}

#join h1, #join h2, #join h3, #join h4, #join p{
    color: white;
    text-align: center;
    margin-top: 20px;
}

#join h4 {
    margin-left: 1vw;
}

#about {
    width: 100vw;
    height: 95vh;
    margin: 0 auto;
    position: absolute;
    top: 5vh;
    left: 0;
    background-color: #333;
    align-items: center;
    justify-content: center;
}
#projects_bar {
    width: 60vw;
    height: 10vh;
    margin: 0 auto;
    position: absolute;
    left: 20%;
    top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
}
#projects_bar button {
    background-color: #5a5554;
    color: white;
    border: none;
    padding: 14px 50px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

#projects_bar button:hover {
    background-color: #333;
    transform: translateY(-2px);
}

#projects {
    display: block;
    width: 60vw;
    height: 60vh;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: #444;
}
#mobileabout {
    padding: 40px;
}
#project {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#project p {
    margin: 0;
}
#project a {
    margin-left: 10px;
    text-decoration: none;
    color: #007BFF;
    display: inline-block;
    vertical-align: middle;
}
#project a:hover {
    text-decoration: underline;
}
#footer {
    /*background-color: #333;*/
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo {
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}

#footer p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}
#footer2 {
    background-color: #007BFF;
    /*background-color: #333;*/
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo {
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}

#footer2 p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}

#about{
    width: 100vw;
    height: 95vh;
    margin: 0 auto;
    position: relative;
    top: 5vh;
    left: 0;
    background-color: #333;
    align-items: left;
    justify-content: left;
    padding: 2vh;
}
#about img{
    margin-top: 5vh;
}
