#navigation_bar
{   
    background-color: #5a5554;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
}
#navigation_bar button
{
    background-color: #5a5554;
    color: white;
    border: none;
    padding: 14px 50px;
    cursor: pointer;
    font-size: 17px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

p {
    line-height: 1.6;
}

#join{
    width: 100vw;
    height: 95vh;
    margin: 0 auto;
    position: absolute;
    top: 5vh;
    left:0;
    background-color: #333;
    align-items: center;
    justify-content: center;

}
#join h1{
    color: white;
    text-align: center;
    margin-top: 20px;
}
#join h2{
    color: white;
    text-align: center;
    margin-top: 20px;
}
#join p{
    color: white;
    text-align: center;
    margin-top: 20px;
}

